@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$white-pure: #FFFFFF;
$white-mid: #FEFEFE;
$black-pure: #000000;
$black-mid: #1A1A1A;
$black-low: #171717;
$yellow-dark: #9A6D0C;
$yellow-gold: #E8BB15;;
$yellow-pure: #F7B53D;
$yellow-mid: #D6A430;
$yellow-low: #F8D074;
$gray-pure: #4B4B4B;