@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
}

body, h1, h2, h3, a, p, ul, li, blockquote {
  margin: 0;
  padding: 0;
}

body {
  background: #FBFBFB;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

p {
  font-size: 1rem;
}

.title-template {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.title-template::after {
  content: '';
  display: block;
  width: 202px;
  height: 2px;
  background: #F7B53D;
  margin: 22px 0;
}

.text-template {
  font-size: 1.25rem;
  color: #4B4B4B;
}

.container {
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 20px;
}

.bg-menu {
  width: 100%;
  background: #FEFEFE;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10030;
}

.bg-menu .menu {
  max-width: 1274px;
  height: 92px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-menu .menu .brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54.55px;
}

.bg-menu .menu-items ul {
  display: flex;
  gap: 24px;
}

.bg-menu .menu-items ul a {
  font-weight: 600;
  color: #D6A430;
}

.initial-banner {
  min-height: 768px;
  background: url(../src/banner_inicial.png) right;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 42px;
}

.initial-banner blockquote {
  max-width: 530px;
  margin-top: 114px;
  margin-left: 32px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
}

.initial-banner blockquote h1 {
  max-width: 438px;
  font-size: 2.5rem;
  font-weight: bold;
}

.initial-banner blockquote h1::after {
  content: '';
  display: block;
  width: 202px;
  height: 2px;
  margin: 20px 0;
  background: #FFFFFF;
}

.initial-banner blockquote h2 {
  font-size: 1.625rem;
  font-weight: normal;
  max-width: 327px;
}

.initial-banner blockquote div {
  display: flex;
  margin: 18px 0;
}

.initial-banner blockquote div p {
  align-self: flex-start;
}

.initial-banner blockquote div p:nth-child(1) {
  font-size: 1.375rem;
  font-style: italic;
  font-weight: normal;
  padding-right: 17px;
}

.initial-banner blockquote div p:nth-last-child(2) {
  font-size: 2.25rem;
  font-weight: bold;
  margin-right: 28px;
  display: flex;
}

.initial-banner blockquote div p:nth-last-child(2) span {
  font-size: 3.375rem;
  line-height: 60px;
}

.initial-banner blockquote div button {
  background: #F7B53D;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 1.375rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 32px;
  padding: 16px 36px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.initial-banner blockquote p:nth-last-child(1) {
  max-width: 476px;
  font-size: .75rem;
  color: rgba(255, 255, 255, 0.5);
}

.gold-business ul {
  background: #D6A430;
  margin-top: 24px;
  border-radius: 12px;
  padding: 38px 82px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
}

.gold-business ul li:nth-child(1) {
  max-width: 220px;
  flex: 1 1 200px;
}

.gold-business ul li:nth-child(1) p:nth-child(1) {
  color: #F8D074;
  font-size: 1.5rem;
}

.gold-business ul li:nth-child(1) p:nth-child(2) {
  color: #FFFFFF;
  font-size: 1.375rem;
  font-style: italic;
  font-weight: normal;
  margin: 12px 0 6px 0;
}

.gold-business ul li:nth-child(1) p:nth-child(3) {
  color: #FFFFFF;
  font-size: 2.25rem;
  font-weight: bold;
  display: flex;
}

.gold-business ul li:nth-child(1) p:nth-child(3) span {
  color: inherit;
  font-size: 3.375rem;
  line-height: 60px;
}

.gold-business ul li:nth-child(2) {
  max-width: 210px;
  margin: 0 20px;
  align-self: flex-start;
  flex: 1 1 150px;
}

.gold-business ul li:nth-child(2) p:nth-child(1) {
  color: #FFFFFF;
  font-size: .625rem;
  margin-bottom: 10px;
}

.gold-business ul li:nth-child(3) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 2 1 200px;
}

.gold-business ul li:nth-child(3) button {
  width: 100%;
  letter-spacing: 1.7px;
  font-family: 'Open Sans';
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 22px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.gold-business ul li:nth-child(3) button:nth-child(1) {
  background: #F7B53D;
  margin-bottom: 30px;
}

.gold-business ul li:nth-child(3) button:nth-child(2) {
  background: #9A6D0C;
}

.hospital {
  margin-top: 42px;
}

.hospital ul {
  margin-top: 35px;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.hospital ul li {
  max-width: 376px;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  flex: 1 1 300px;
}

.hospital ul li p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #E8BB15;
  padding: 6px 0;
}

.benefit ul {
  margin-top: 34px;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.benefit ul li {
  max-width: 504px;
  min-height: 738px;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  flex: 1 1 420px;
}

.benefit ul li div {
  max-width: 442px;
  padding: 0 10px;
  margin: 0 auto;
}

.benefit ul li h2 {
  color: #E8BB15;
  font-size: 1.875rem;
  text-align: center;
}

.benefit ul li p {
  font-size: 1.5rem;
  color: #1A1A1A;
  padding: 0 10px;
  line-height: 30px;
  margin: 0 auto;
}

.benefit ul li:nth-child(1) h2 {
  margin-top: 46px;
}

.benefit ul li:nth-child(1) p {
  margin-top: 30px;
  margin-bottom: 45px;
}

.benefit ul li:nth-child(1) button {
  width: 100%;
  font-family: 'Open Sans';
  font-size: .875rem;
  font-weight: bold;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  border: none;
  border-radius: 23px;
  color: #FFFFFF;
  background: #9A6D0C;
  padding: 14px 0;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.benefit ul li:nth-child(2) h2 {
  margin-top: 16px;
}

.benefit ul li:nth-child(2) p {
  margin-top: 22px;
  margin-bottom: 45px;
  line-height: 30px;
}

.services .services-cards {
  margin-top: 42px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.services .services-cards .services-item {
  max-width: 473px;
  min-height: 820px;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  flex: 1 1 420px;
}

.services .services-cards .services-item div {
  max-width: 412px;
  margin: 0 auto;
  padding: 0 20px;
}

.services .services-cards .services-item div h2 {
  font-size: 2rem;
  color: #E8BB15;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 11px;
}

.services .services-cards .services-item div h3 {
  font-size: 1.5625rem;
  line-height: 2.125rem;
  color: #1A1A1A;
  font-weight: normal;
}

.services .services-cards .services-item div h3::after {
  content: '';
  display: block;
  width: 225px;
  height: 2px;
  background: #E8BB15;
  margin: 20px auto;
}

.services .services-cards .services-item div ul li {
  display: flex;
}

.services .services-cards .services-item div ul li span {
  width: 17px;
  height: 13px;
  margin-right: 7px;
  display: block;
  position: relative;
  top: 13px;
}

.services .services-cards .services-item div ul li span::before {
  content: '';
  display: block;
  background: #F7B53D;
  width: 7px;
  height: 2px;
  transform: rotate(45deg);
  top: 3px;
  left: -3px;
  position: absolute;
}

.services .services-cards .services-item div ul li span::after {
  content: '';
  display: block;
  background: #F7B53D;
  width: 17px;
  height: 2px;
  transform: rotate(135deg);
  top: 0;
  position: absolute;
}

.services .services-cards .services-item div ul li p {
  max-width: 313px;
  font-size: 1.25rem;
  color: #1A1A1A;
}

.services .services-cards .services-item div ul li + li {
  margin-top: 22px;
}

.services .services-cards .services-item:nth-child(2) div h3 {
  text-align: center;
}

.services .services-cards .services-item:nth-child(2) div h3::after {
  margin-top: 53px;
}

.services .services-cards .services-item:nth-child(2) div ul {
  margin: 0 20px;
}

.services .services-cards .services-item:nth-child(2) div ul p {
  max-width: 292px;
}

.contact blockquote {
  margin-top: 60px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
}

.contact blockquote p {
  font-size: 1.25rem;
  color: #404040;
  margin-left: 42px;
}

.contact .contact-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.contact .contact-form article {
  max-width: 582px;
  padding-right: 62px;
  flex: 1 1 300px;
  position: relative;
}

.contact .contact-form article::after {
  content: '';
  display: block;
  width: 1px;
  height: 488px;
  background: rgba(112, 112, 112, 0.24);
  top: 0;
  right: 0;
  position: absolute;
}

.contact .contact-form article form label {
  font-size: 1.125rem;
  font-weight: bold;
  color: #E8BB15;
}

.contact .contact-form article form input[type="text"], .contact .contact-form article form input[type="email"] {
  width: 100%;
  border: 1px solid #D0BC90;
  font-size: .8125rem;
  padding: 20px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.contact .contact-form article form div {
  display: flex;
  justify-content: center;
}

.contact .contact-form article form div input[type="button"] {
  background: #F7B53D;
  width: 289px;
  border: none;
  border-radius: 30px;
  padding: 12px 0;
  margin-top: 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  cursor: pointer;
}

.contact .contact-form .contact-buttons {
  max-width: 470px;
  padding-left: 62px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 300px;
}

.contact .contact-form .contact-buttons p {
  color: #4B4B4B;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 8px;
}

.contact .contact-form .contact-buttons p:nth-last-child(1) {
  font-size: .875rem;
  margin-top: 12px;
  color: #A7A7A7;
  font-weight: normal;
}

.contact .contact-form .contact-buttons h2 {
  font-size: 2rem;
  color: #E8BB15;
  font-weight: bold;
  margin-bottom: 17px;
}

.contact .contact-form .contact-buttons button {
  width: 100%;
  height: 90px;
  background: #F7B53D;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-family: 'Open Sans';
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.contact .contact-form .contact-buttons button + button {
  margin-top: 32px;
}

.footer {
  background: #9A6D0C;
  padding: 32px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer .development img {
  margin: 0 auto;
}

.footer .development div {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  text-align: center;
  color: #FFFFFF;
  font-size: .875rem;
}
